<footer id="wb-footer">
  <div class="wb-container" style="background-image: url({{"wb-texture.jpg" | asset_url }})">
    <div class="wb-footercolumn">
      <h5 class="wb-tiny-heading">Quick links</h5>
      <ul>
        {%- for link in linklists[section.settings.quick_links_menu].links -%}
          <li>
            <a
              href="{{ link.url }}"
              {% if link.target %}
                target="{{ link.target }}"
              {% endif %}
            >
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="wb-footercolumn">
      <h5 class="wb-tiny-heading">Info</h5>
      <ul>
        {%- for link in linklists[section.settings.info_links_menu].links -%}
          <li>
            <a
              href="{{ link.url }}"
              {% if link.target %}
                target="{{ link.target }}"
              {% endif %}
            >
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
      <ul>
        <li><a href="https://www.drinkaware.co.uk/" target="_blank">Drinkaware &#8599;</a></li>
      </ul>
    </div>
    <div class="wb-footercolumn wb-footerblurb">
      <h5 class="wb-tiny-heading">How's it gaun?</h5>
      <p>
        Whisky Blender loves Scotch! We want you to love it too. Aged casks of delicious whisky for you to blend, bottle
        and label as you see fit. Perfectly unique and personalised gifts for that special occasion... or just a wee
        treat for yersel.
      </p>
      <img
        src="{{ "wb-signed-white.svg" | asset_url }}"
        alt="Andy & Drew"
        class="wb-signed"
        width="120"
        height="40"
      >
    </div>
    <div class="wb-footercolumn wb-footerblurb">
      <p><strong>Please enjoy responsibly&mdash;or no at aw!</strong></p>
    </div>
    <div class="wb-footercolumn">
      <ul class="wb-socials">
        <li>
          <a href="https://www.instagram.com/whiskyblender" target="_blank"
            ><img src="{{ "wb-instagram-white.svg" | asset_url }}" alt="Photos of food" width="24" height="24"
          ></a>
        </li>
        <li>
          <a href="https://twitter.com/whisky_blender" target="_blank">
            <img src="{{ "wb-twitter-white.svg" | asset_url }}" alt="Auld Twitter" width="24" height="24"
          ></a>
        </li>
        <li>
          <a href="https://www.facebook.com/whiskyblender" target="_blank">
            <img src="{{ "wb-facebook-white.svg" | asset_url }}" alt="Bookface" width="24" height="24"
          ></a>
        </li>
        <li>
          <a href="https://www.youtube.com/@Whiskyblender" target="_blank">
            <img src="{{ "wb-youtube-white.svg" | asset_url }}" alt="Cat videos" width="24" height="24"
          ></a>
        </li>
        <li>
          <a href="https://uk.trustpilot.com/review/whiskyblender.com" target="_blank">
            <img src="{{ "wb-trustpilot-white.svg" | asset_url }}" alt="Bad reviews" width="24" height="24"
          ></a>
        </li>
      </ul>
    </div>
    <div class="wb-footercolumn wb-copyright">
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Whisky Blender is a trademark product of Andrews of Bothwell Ltd. All rights reserved. Company No. SC407498. VAT
        Reg. 151 8243 24
      </p>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "text",
      "id": "quick_links_menu",
      "default": "footer",
      "label": "Quick links menu handle"
    },
    {
      "type": "text",
      "id": "info_links_menu",
      "default": "footer-info",
      "label": "Info links menu handle"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
