<header id="wb-header">
  <div class="wb-container" style="background-image: url({{"wb-texture.jpg" | asset_url }})">
    <a href="index.html" id="wb-logo" style="background-image: url({{"wb-logo-white.svg" | asset_url }})"
      >Whisky Blender</a
    >
    <div class="wb-byline">
      <div class="wb-left-byline"><span class="wb-hide-onmobile">Bothwell, </span>Scotland</div>
      <div class="wb-right-byline">Est<span class="wb-hide-onmobile">ablished</span> 2011</div>
    </div>
  </div>
</header>
<nav id="wb-nav">
  <ul class="wb-topnav">
    {%- for link in section.settings.menu.links -%}
      <li>
        <a
          href="{{ link.url }}"
          {% if link.active %}
            class="wb-active-page"
          {% endif %}
        >
          {{ link.title }}
        </a>
      </li>
    {%- endfor -%}
    <li>
      <ul class="wb-navicons">
        <li>
          <a href="#"><img src="{{"wb-search-white.svg" | asset_url }}" alt="Search" width="16" height="16"></a>
        </li>
        <li>
          <a href="#"><img src="{{"wb-account-white.svg" | asset_url }}" alt="Account" width="16" height="16"></a>
        </li>
        <li>
          <a href="#"><img src="{{"wb-basket-white.svg" | asset_url }}" alt="Basket" width="16" height="16"></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
