{{ 'glide.js' | asset_url | script_tag }}
{{ 'glide.core.css' | asset_url | stylesheet_tag }}
{{ 'glide.custom.css' | asset_url | stylesheet_tag }}

<section class="wb-banded">
  <div class="wb-container">
    <div class="wb-padding">
      <div class="glide wb-testimonials">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides wb-reviews">
            {%- for block in section.blocks -%}
              <li
                class="glide__slide wb-review"
                style="background-image: url({{ block.settings.stars_image | asset_url }})"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.review_text }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% javascript %}
  new Glide('.wb-testimonials', {
    type: 'carousel',
    gap: 60,
    perView: 3,
    autoplay: 1,
    animationDuration: 4000,
    animationTimingFunc: 'linear',
    hoverpause: true,
    breakpoints: {
      600: {
        perView: 1,
        gap: 20,
      },
      768: {
        perView: 2,
        gap: 30,
      },
    },
  }).mount();
{% endjavascript %}

{% schema %}
{
  "name": "Reviews",
  "settings": [],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review text",
          "default": "Great service and amazing product!"
        },
        {
          "type": "text",
          "id": "stars_image",
          "label": "Stars image filename",
          "default": "wb-stars.gif",
          "info": "Upload image to assets folder and enter filename here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews",
      "blocks": [
        {
          "type": "review",
          "settings": {
            "review_text": "They are worth more than 5stars...",
            "stars_image": "wb-stars.gif"
          }
        },
        {
          "type": "review",
          "settings": {
            "review_text": "Brilliant idea getting to blend your own...",
            "stars_image": "wb-stars.gif"
          }
        },
        {
          "type": "review",
          "settings": {
            "review_text": "I will definitely be ordering again and after tasting my own bottle...",
            "stars_image": "wb-stars.gif"
          }
        },
        {
          "type": "review",
          "settings": {
            "review_text": "My Dad absolutely loved his bottle...",
            "stars_image": "wb-stars.gif"
          }
        },
        {
          "type": "review",
          "settings": {
            "review_text": "The taste and quality is absolutely excellent...",
            "stars_image": "wb-stars.gif"
          }
        },
        {
          "type": "review",
          "settings": {
            "review_text": "Everything about this company is just perfection...",
            "stars_image": "wb-stars.gif"
          }
        },
        {
          "type": "review",
          "settings": {
            "review_text": "Great service, speedy delivery...",
            "stars_image": "wb-stars.gif"
          }
        }
      ]
    }
  ]
}
{% endschema %}
